/* 
 * styles for aravindanve.github.io
 * by @aravindanve
 * http://github.com/aravindanve
 * version 1.0
 *
 **/

@import url(candyfrost-lite.less);

// @bodyfont: 'Montserrat', arial, sans-serif;

@azure: #117EF7;

html, body {
    height: 100%;
}

body {
    background-color: #e2e3e4;
}

.gradient(@start, @end, @dir: 45deg) {
    background: @start;
    background: -moz-linear-gradient(@dir, @start 0%, @end 100%);
    background: -webkit-linear-gradient(@dir, @start 0%,@end 100%);
    background: linear-gradient(@dir, @start 0%,@end 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{end}',GradientType=1);
}

.abs-vert-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // width: 80%;
    height: 30%;
    margin: auto;
}

.banner {
    position: relative;
    min-height: 400px;
    height: 100%;
    // background-color: #482448;
    background: url(../images/banner.jpg) #333 right no-repeat;
    background-size: cover;
    color: @white;

    .content {
        position: relative;
        .abs-vert-center;
        text-align: center;
        padding: 15px;

        .title {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 15px;

            @media (max-width: @screen-sm) {
                margin-top: -15px;
            }

            .t1 {
                text-transform: uppercase;
                font-size: 38px;
                font-weight: bold;
                color: #fff;

                @media (max-width: @screen-sm) {
                    font-size: 24px;
                }
            }

            .t2 {
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 23px;
                font-weight: bold;
                // color: #35B9CF;
                color: #20DBF1;

                @media (max-width: @screen-sm) {
                    font-size: 20px;
                }
            }
        }

        .elements {
            font-size: 18px;

            @media (max-width: @screen-sm) {
                font-size: 16px;
            }

            a {
                color: @white;
                padding: 6px 8px;
                border-radius: 4px;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    background-color: rgba(0,0,0,0.2);
                }
            }

            .sep {
                color: rgba(255,255,255,0.4);
                padding: 0 3px;
            }
        }
    }

    .show-more {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        padding-bottom: 25px;

        .action {
            font-size: 36px;
            color: rgba(255,255,255,0.4);
            padding: 25px 50px;

            &:hover {
                color: @white;
            }
        }
    }

    .banner-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        img, video {
            max-width: 100%;
        }

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: fade(#333, 82%);
        }
    }
}

.navigation {
    position: relative;
    background-color: #e2e3e4;
    z-index: 800;

    ul.menu {
        .nl;
        display: block;
        text-align: center;
        border-bottom: #d3d3d3 solid 1px;

        & > li {
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0px;
                left: 0;
                height: 1px;
                margin: 0 10px -1px 10px;
                background-color: transparent;
                pointer-events: none;
            }

            @hov-color: #169CBE;

            & > a {
                text-transform: uppercase;
                display: block;
                padding: 20px 15px;
                text-decoration: none;
                color: @black;

                &:hover {
                    color: @hov-color;
                    background-color: #ddd;
                }
            }

            &:hover {
                &:after {
                    background-color: fade(@hov-color, 50%);
                }
            }

            @sel-color: #D33C6F;

            &.sel {
                // border-bottom: @azure solid 1px;
                // margin-bottom: -1px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    left: 0;
                    height: 1px;
                    margin: 0 10px -1px 10px;
                    background-color:fade(@sel-color, 50%); 
                }

                & > a {
                    color: @sel-color;
                }
            }
        }
    }
}

.filteredOut {
    display: none;
}

.tags {
    .nl;
    text-align: center;
    margin-bottom: 15px;
    font-size: @font-size - 2px;

    & > li {
        display: inline-block;
        margin-bottom: 6px;

        & > .lbl {
            display: block;
            padding: 6px 0;
            color: @grey;
        }

        & > .clr {
            display: none;
            padding: 6px 0;
            margin-left: 5px;

            &.on {
                display: block;
            }

            & > a {
                text-decoration: none;

                .lnr {
                    font-size: 0.7em;
                }
            }
        }

        & > a {
            display: block;
            text-decoration: none;
            padding: 6px 10px;
            border-radius: 3px;
            background-color: #d3d3d3;
            margin-left: 5px;
            color: #000;

            &:hover {
                background-color: #444;
                color: #fff;
            }

            &.active {
                background-color: @link-color;
                color: #fff;

                &:hover {
                    background-color: @link-color-dark;
                }
            }
        }
    }
}

.thumbs {
    padding: 0 15px;
}

.thumb {
    display: block;
    text-decoration: none;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    background-color: #222;
    margin-bottom: 30px;
    .box-shadow(0, 1px, 1px, 0, rgba(0,0,0,0.1));

    @media (max-width: @screen-sm) {
        margin: 0 -15px 15px;
    }

    &.spl-tf {
        .gradient(#1A7CE3, #21B3D2);

        .thumb-banner .itx {
            color: #fff;
        }
    }

    &.spl-rl3 {
        .gradient(#22B7A4, #22B670);

        .thumb-banner .itx {
            color: #fff;
        }
    }

    &.spl-cf {
        .gradient(#56ABD2, #A6C6E2);

        .thumb-banner .itx {
            color: #fff;
        }
    }

    &.spl-rl2 {
        .gradient(#F05F62, #F89C5A);

        .thumb-banner .itx {
            color: #fff;
        }
    }

    &.spl-ar {
        .gradient(#8B54C4, #6E74EF);

        .thumb-banner .itx {
            color: #fff;
        }
    }

    .thumb-banner {
        height: 240px;

        .itx {
            font-size: 120px;
            line-height: 1;
            padding-top: 80px;
            padding-bottom: 40px;
            text-align: center;
            // line-height: 240px;
        }
    }

    .thumb-content {
        .cf;
        height: 100px;
        padding: 15px;

        .thumb-title {
            .ep;
            // font-size: 22px;
            // font-weight: 300;
            text-align: center;
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    .thumb-inside {
        display: none;

        padding: 0 30px 15px;
        height: 240px;
        overflow: hidden;
        text-align: center;

        @media (max-width: (@screen-md + 100px)) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .thumb-tags {
        text-align: center;
    }

    .cover {
        height: 240px + 100px;
    }

    .thumb-close {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px + 30px;
        height: 24px + 30px;
        cursor: pointer;

        &:before {
            content: 'x';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            text-transform: uppercase;
            font-size: 12px;
            background-color: #444;
            color: #fff;
            width: 24px;
            line-height: 24px;
            border-radius: 24px;
            text-align: center;
        }
    }

    .reveal() {
        background-color: #fff;
        color: #000;
        text-decoration: none;

        .thumb-banner { 
            display: none;
        }

        .thumb-content {
            padding-top: 25px;

            .thumb-title {
                margin-bottom: 10px;
            }
        }

        .thumb-inside {
            display: block;
        }

        .thumb-tags {
            .tag {
                border: fade(#444, 60%) solid 1px;
                color: #444;
            }
        }
    }

    .spl() {
        background: #fff;
        background-color: #fff;
        color: #000;

        .thumb-banner .itx {
            color: #000;
        }
    }

    @media (min-width: @screen-md) {
        &:hover {
            .reveal;
        }

        &[class^="spl-"], &[class*=" spl-"] {
            &:hover {
                .spl;
            }
        }
    }

    @media (max-width: @screen-md) {
        &.flipped {
            .reveal;

            .thumb-close {
                display: block;
            }
        }

        &[class^="spl-"], &[class*=" spl-"] {
            &.flipped {
                .spl;
            }
        }
    }
}

.tag {
    display: inline-block;
    // float: left;
    padding: 3px 5px 4px;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 3px;
    background-color: transparent;
    border: fade(#eee, 60%) solid 1px;
    color: #eee;
    font-weight: 300;
    font-size: 14px;

    // &.node {
    //     background-color: @lime;
    //     color: #000;
    // }

    // &.python {
    //     background-color: #EAC81F;
    //     color: #000;
    // }

    // &.php {
    //     background-color: #4891DA;
    //     color: #fff;
    // }

    // &.javascript {
    //     background-color: #3AC381;
    //     color: #fff;
    // }

    // &.proprietary {
    //     background-color: @green;
    //     color: #000;
    // }

    // &.plugin {
    //     background-color: @pink;
    //     color: #fff;
    // }

    // &.application {
    //     background-color: @purple;
    //     color: #fff;
    // }
}

.footer-text {
    font-size: 14px;
    padding: 25px 15px (25px + 45px);
    color: #888;
    text-align: center;

    a {
        color: fade(@azure, 80%);
        text-decoration: none;

        &:hover {
            color: @azure;
        }
    }
}

.resume-page {
    position: relative;
    margin-top: 15px;

    .resume-section {
        position: relative;
        margin-bottom: 30px;
        background-color: #f6f6f6;
        padding: 15px;
        border-radius: 3px;
        color: #000;
        .box-shadow(0, 1px, 1px, 0, rgba(0,0,0,0.1));

        .rs-title {
            text-transform: uppercase;
            margin-bottom: 10px;
            // margin-top: -5px;
            font-size: 14px;
            color: #888;
        }

        .rs-desc {
            font-weight: 300;
            margin-bottom: 10px;
            // margin-top: -5px;
            font-size: 14px;
            color: #888;
        }

        .rs-para {
            padding: 10px 0;
        }

        .rs-fnote {
            font-size: 14px;
            color: #888;
        }
    }
}

.card {
    padding: 10px 0;

    .name {
        font-family: 'Merriweather', arial, sans-serif;
        font-size: 24px;
        font-weight: 700;
        // text-transform: uppercase;
        // font-weight: 300;
        line-height: 1;
    }

    .contact {
        font-weight: normal;
    }

    .action {
        margin-top: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .soc-links {
        margin-top: 10px;
        color: #888;

        a {
            text-decoration: none;
        }
    }
}

.skills {
    position: relative;

    .skills-section {
        position: relative;
        margin-bottom: 15px;

        .ss-title {
            text-transform: uppercase;
            font-size: 14px;
            padding: 10px 0;
            border-bottom: @button-color solid 1px; 
            margin-bottom: 5px;
            font-weight: bold;
        }

        .ss-ellip {
            color: #ddd;
            font-size: 14px;
            text-align: center;
            padding: 10px 0;
        }
    }

    .skill {
        .cf;
        padding: 10px 0 5px;
        margin-bottom: 5px;

        .name {
            &.emp {
                // margin-bottom: 15px;

                float: left;
                background-color: #eee;
                border-radius: 3px;
                padding: 8px 10px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }

        .desc {
            font-size: 12px;
            color: #888;
            margin-top: 2px;
        }

        .rating {
            position: relative;
            border-bottom: #e6e6e6 solid 4px;
            margin-top: 5px;

            .liquid {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                border-bottom: #666 solid 4px;
                width: 1%;

                .generate-sizes(@label, @n, @i: 5) when (@i =< @n) {
                    &.@{label}-@{i} {
                        width: (@i * 1%);
                    }    
                    .generate-sizes(@label, @n, (@i + 5));
                }
                .generate-sizes(s, 100);

                &.s-plus { // 80+
                    border-bottom-color: #3AC381;
                }

                &.s-good { // 70+
                    border-bottom-color: #4486E6;
                }
            }
        }
    }
}

@blah-color: lighten(@link-color, 28%);
@passion-line-color: #D33C6F;

.timeline {
    position: relative;
    padding: 10px 0;

    .story {
        position: relative;

        &.passion {
            .desc {
                border-left-color: @passion-line-color;

                &:before {
                    border-color: @passion-line-color;
                }
            }

            .title .role, .desc .project .pr-title {
                color: @passion-line-color - #111;
            }

            .toggle-view {
                color: @passion-line-color - #111;
            }

            &.project-view {
                .toggle-view {
                    background-color: @passion-line-color;

                    &:hover {
                        background-color: @passion-line-color - #111;
                    }
                }
            }

            .stew {
                height: 80px;
                text-align: right;
                overflow: hidden;
                margin-bottom: 6px;

                img {
                    max-height: 100%;
                }

                @media (max-width: @screen-sm) {
                    text-align: left;
                }
            }
        }

        .title {
            text-align: right;
            padding-bottom: 15px;

            @media (max-width: @screen-sm) {
                text-align: left;
            }

            .role {
                font-weight: bold;
            }

            .company {
                margin-top: 5px;

                .mi {
                    font-weight: 300;
                }
            }

            .period {
                margin-top: 5px;
                color: #000;
                font-size: 14px;
            }

            .highlights-text {
                margin-top: 25px;
                color: #000;
                max-width: 240px;
                margin-left: auto;
                font-weight: 300;

                @media (max-width: @screen-sm) {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }

        .desc {
            position: relative;
            padding-bottom: 15px;
            // border-left: @button-color solid 2px;
            border-left: @blah-color solid 2px;

            @media (max-width: @screen-sm) {
                border-left-width: 10px;
                margin-bottom: 15px;
            }

            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                top: 0;
                left: 0;
                margin-left: -6px;
                margin-top: 6px;
                // border: @button-color solid 2px;
                border: @blah-color solid 2px;
                border-radius: 10px;
                background-color: #f6f6f6;
            }  

            &.end {
                padding-bottom: 0;

                .pr-ellip {
                    padding-bottom: 0;
                }
            }
        }

        .pr-ellip {
            color: #ddd;
            font-size: 14px;
            text-align: left;
            padding: 10px 0;
        }

        .highlights {
            display: block;
        }

        .projects {
            display: none;
        }

        .toggle {
            margin-top: 15px;
        }

        .toggle-view {
            text-decoration: none;
            padding: 6px 12px;
            border-radius: 4px;
            background-color: #e9e9e9;

            &:before {
                content: '+';
                padding-right: 4px;
            }

            &:hover {
                background-color: #e3e3e3;
            }
        }

        &.project-view {
            .highlights {
                display: none;
            }

            .projects {
                display: block;
            }

            .toggle-view {
                background-color: @link-color;
                color: #fff;

                &:before {
                    content: '\25CB';
                }

                &:hover {
                    background-color: @link-color-dark;
                    color: #fff;
                }
            }
        }
    }

    .story-section-title {
        padding: 8px;
        margin: -8px -8px 10px;
        background-color: #FDEF78;
        border: #E3D55E solid 1px;
        border-radius: 4px;
    }
}

.project {
    position: relative;
    padding-bottom: 15px;
    // margin-bottom: 25px;

    @media (min-width: @screen-sm) {
        padding-right: 15px;
    }

    .pr-title {
        font-weight: bold;
    }

    .pr-desc {
        margin-top: 10px;
        color: #888 - #111;
        font-weight: 300;

        &.d-sub {
            margin-top: 10px;
            font-style: italic;
        }
    }

    .pr-features {
        padding-bottom: 10px;

        &:last-child {
            padding-bottom: 35px;
            border-bottom: @button-color solid 1px;
            margin-bottom: 15px;
        }

        .highlights & {
            &:last-child { 
                padding-bottom: 10px;
                margin-bottom: 0;
                border-bottom-width: 0;
            }
        }
    }

    .pf-list {
        .nl;
        padding: 20px 0 0;

        & > li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '\2022';
                display: block;
                position: absolute;
                color: #000;
                left: 0;
                margin-left: 15px;
            }
        }
    }
}

.ite {
    &.ite-a {
        color: #888;
        font-size: 14px;
        margin-bottom: 2px;
    }

    &.ite-b {
        margin-bottom: 10px;
    }
}

.edu-item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        font-weight: bold;
    }
    .desc {
        color: #888;
    }
}

button.download, 
.button.download {
    border-color: @link-color;
    color: @link-color;
    background-color: transparent;
    padding: 6px 15px;

    &:hover, &:active {
        background-color: @link-color;
        color: #fff;
    }
}

.scrmbl {
    position: relative;

    .x, .dg, .sdfh, .jf, .dfh, .rhc {
        .ns;
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
    }
    .yj, .dhr, .er, .mes, .erj {
        top: 0;
        left: 0;
    }
}

span.marker {
    display: block;
    position: relative;
    height: 0;

    & > span {
        display: block;
        position: absolute;
        bottom: 0;
        height: 70px;
    }

    i.get-link {
        display: block;
        position: absolute;
        right: 0;
        cursor: pointer;

        &:before {
            display: block;
            content: '#';
            position: absolute;
            right: 0;
            height: 26px;
            width: 26px;
            border-radius: 26px;
            line-height: 26px;
            text-align: center;
            font-style: normal;
            top: 0;
            margin-top: -3px;
            margin-right: -20px;
            background-color: #ddd;
            color: #fff;
            z-index: 200;
        }

        @media (max-width: @screen-sm) {
            &:before {
                margin-right: -5px;
            }
        }

        &:hover {
            &:before {
                background-color: #222;
            }
        }
    }
}

// print

.print-only, .print-link {
    display: none;
}

@media print  {

    .resume-section, .resume-page, 
    .container,
    .container > .row,
    .container > .row > .col,
    .section, .wrapper,
    body, html {
        float: none !important;
    }

    .pb-after {
        page-break-after: always;
    }

    .pb-before {
        page-break-before: always;
    }

    .print-only, .print-link {
        display: initial;
    }

    .print-link {
        color: @link-color;

        .pr-lbl {
            color: #000;
        }
    }

    .dont-print {
        display: none !important;
    }

    @page { 
        // size: 8.5in 11in;
        // margin: 2cm 
        size: 210mm 297mm;
    }

    html, body {
        max-width: 210mm;
    }

    body {
        background-color: transparent;
        font-size: 14px;
    }

    header, footer, .navigation {
        display: none;
    }

    .section {
        padding: 0;
        margin: 0;
    }

    .resume-page {
        margin: 0;
        margin-left: 0 !important;
        width: 100% !important;

        .resume-section {
            position: relative;
            border-radius: 0;
            background-color: transparent;
            padding: 0 0 5px;
            border-bottom: #000 solid 1px;
            margin: 0 0 15px;
            .box-shadow(0, 0, 0, 0, transparent);

            .rs-title {
                font-size: 12px;
                font-weight: bold;
                color: #000;
            }

            .rs-para {
                padding: 0;
                margin-bottom: 10px;
            }

            .rs-fnote {
                position: absolute;
                bottom: 0;
                font-size: 10px;
                margin-bottom: 5px;
            }
        }
    }  

    [class*="-vert-divide "], [class$="-vert-divide"] {
        border-right-width: 0 !important;
    }

    [data-anim-highlight] {
        display: none;
    }

    .marker {
        display: none;
    }

    .card {
        .name {

        }

        .contact {
            &:first-child {
                margin-top: 12px;
            }
        }

        .action {
            display: none;
        }

        .title {
            margin-top: 5px;
        }

        .soc-links {
            display: none;
        }
    }

    .skills {
        .cf;

        .skills-section {
            margin-bottom: 20px;

            .ss-title {
                padding: 0;
                margin-bottom: 5px;
                font-size: 12px;
                text-transform: none;
                border-bottom: none;
            }

            .ss-ellip {
                display: none;
            }
        }

        .skill {
            .cf;
            padding: 0;
            margin-bottom: 10px;

            .name {
                &.emp {
                    display: inline;
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                }
            }

            .desc {
                margin-top: 0;
            }

            .rating {
                margin-top: 1px;
                border-bottom-width: 2px;

                .liquid {
                    border-bottom-width: 2px;

                    &.s-plus { // 80+
                        border-bottom-color: darken(#3AC381, 5%);
                    }

                    &.s-good { // 70+
                        border-bottom-color: #4486E6;
                    }
                }
            }
        }
    }

    @passion-line-color-print: lighten(@passion-line-color, 30%);
    .timeline {

        .story {
            &.passion {

                .desc {
                    border-left-color: @passion-line-color-print;

                    &:before {
                        border-color: @passion-line-color-print;
                    }
                }
            }

            .toggle {
                display: none;
            }

            .story-section-title {
                page-break-after: avoid;
                position: relative;
                border-width: 0;
                border-radius: 0;
                background-color: transparent;
                margin-right: 0;
                height: 30px;
                line-height: 30px;
                padding-top: 0;
                padding-bottom: 0;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-bottom: #eee solid 30px;
                    background-color: #ff0;
                    z-index: -1;
                }
            }

            .title {
                width: 30% !important;

                @media (max-width: @screen-sm) {
                    width: 100% !important;
                }

                .company, .period {
                    font-size: 12px;
                }

                .stew {
                    height: 50px;
                }
            }

            .desc {
                width: 70% !important;

                @media (max-width: @screen-sm) {
                    width: 100% !important;
                }
            }

            .pr-ellip {
                display: none;
            }
        }
    }

    .project {
        padding: 0 0 10px;

        .pr-desc {
            margin-top: 5px;
            color: #000;

            &.d-sub {
                margin-top: 5px;
            }
        }

        .pr-features {
            // padding-bottom: 10px;

            &:last-child {
                padding-bottom: 10px;
                // border-bottom: @button-color solid 1px;
                margin-bottom: 0;
            }

            .highlights & {
                &:last-child { 
                    padding-bottom: 10px;
                    margin-bottom: 0;
                    border-bottom-width: 0;
                }
            }
        }

        .pf-list {
            padding-top: 10px;

            & > li {
                margin-bottom: 5px;
            }
        }
    }
}



















